html5validator
flask
mock
requests
apache-libcloud
cryptography
coverage
-e git+https://github.com/oasis-open/openc2-lycan-python.git#egg=openc2
-e git+https://github.com/jmgnc/python-html-assert.git#egg=pha
