<!DOCTYPE html>
<html lang="en">
<head>
<title>OpenC2 EC2 Starter</title>
</head>
<body>
<h1>OpenC2 EC2 Starter</h1>
{% if ec2ids %}
<table>
<tr><th style="text-align: left;">Instance</th><th style="text-align: left;">Status</th></tr>
{% for id in ec2ids %}
<tr><td>{{ id }}</td><td>{{ ec2ids[id] }}</td></tr>
{% endfor %}
</table>
{% else %}
<p>No known instances</p>
{% endif %}
<hr>
<form method="POST">
<table>
<tr>
	<td>AMI:</td>
	<td><input name="ami" type=text value="ami-0b74be4bc329b8a1b"></td>
	<td><input name="create" type="submit" value="Create"></td>
</tr>
<tr>
	<td>Instance:</td>
	<td>
	<select name="instance">
	{% for id in ec2ids %}
		<option value="{{ id }}">{{ id }}</option>
	{% endfor %}
	</select>
	</td>
	<td>
	{% for name in instcmds %}
		<input name="{{ name.lower() }}" type="submit" value="{{ name }}">
	{% endfor %}
	</td>
</tr>
</table>
</form>
</body>
</html>
